let firstna3me;
let $lastname;
===camal case
let LastName; 

const _patronymic;
firstname = 'Макс'

==== скалярные
let num = 5;
let num = 5.5;
let string = 'привет';
let string2 = 'привет "красавчик" мой';
=
let string3 = `привет
на новую строку
можно перенести`;
=
let template = 'привет ${string}, как ты';
=
let bool = true;
let lie = false;

let und;
let bigInt = 25002119522466n;
let symbol = Symbol();

let donutHole - null;
====
объектные типы данных
объекты это набор свойств. ключ и значение.
let object = {};
let object = {
 a: 5,
 b: 'java',
 c: false,
 d: {
   d: 10,
   e: 15
},
z: [1,2,3]
};
console.log(object.b);
console.log(object.['z']);

object.x = ['a', 'b', 'c']
let array = [];
let array = [1, 'b', {a: 1, b: 'hello'}, true];
console.log(array.[2]);
===
null - то, чего не существует в коде, пустое. можно использовать как заглушку.
let func = function(){};
===
let regExp = new regExp();
регулярые выражения
let regExp = /D/g;
let error = new Error();
let data = new Date();
let map = new Map();
let set - new Set();
console.log(typeof num);

равенство равно
2 === 2 // true
===
объект :
 const = obj {
  a: 1,
  b: 2,}
====
массив :
 const arr = [1, 2]
===
функция 
const foo = () => {};
=====
const err = new Error();

====
регулярные выражения, относится к классу
const regExp = /A-Z/i
const regExp = RegExp()

