свойство - значение

display: flex;
flex-direction: row-reverse; row 	Значение по умолчанию, слева направо (в rtl справа налево). Flex-элементы выкладываются в строку. Начало (main-start) и конец (main-end) направления главной оси соответствуют началу (inline-start) и концу (inline-end) оси строки (inline-axis).
flex-direction: row-reverse 	Направление справа налево (в rtl слева направо). Flex-элементы выкладываются в строку относительно правого края контейнера (в rtl — левого).
flex-direction:  column 	Направление сверху вниз. Flex-элементы выкладываются в колонку.
flex-direction: column-reverse 	Колонка с элементами в обратном порядке, снизу вверх.
flex-direction: initial 	Устанавливает значение свойства в значение по умолчанию.
flex-direction: inherit 	Наследует значение свойства от родительского элемента.

  display: -webkit-flex; 
  -webkit-flex-direction: row-reverse;
    order: 1; Свойство задается целым числом, отвечающим за порядок отображения flex-элементов. Значение по умолчанию 0.
    flex:  3 1 100px; (Коэффициент увеличения ширины) (уменьшения ширины flex-элемента) (базовая ширина) 
    flex: auto 	Эквивалентно flex: 1 1 auto;
    flex-grow: 3; -коэффициент роста одного flex-элемента относительно других flex-элементов
    flex-basis: 100px;

  justify-content:
justify-content: flex-start 	Значение по умолчанию. Flex-элементы выкладываются в направлении, идущем от начальной линии flex-контейнера.
justify-content: flex-end 	Flex-элементы выкладываются в направлении, идущем от конечной линии flex-контейнера.
justify-content: center 	Flex-элементы выравниваются по центру flex-контейнера.
justify-content: space-between 	Flex-элементы равномерно распределяются по линии. Первый flex-элемент помещается вровень с краем начальной линии, последний flex-элемент — вровень с краем конечной линии, а остальные flex-элементы на линии распределяются так, чтобы расстояние между любыми двумя соседними элементами было одинаковым. Если оставшееся свободное пространство отрицательно или в строке присутствует только один flex-элемент, это значение идентично параметру flex-start.
justify-content: space-around 	Flex-элементы на линии распределяются так, чтобы расстояние между любыми двумя смежными flex-элементами было одинаковым, а расстояние между первым / последним flex-элементами и краями flex-контейнера составляло половину от расстояния между flex-элементами.

align-items: 
align-items: flex-start 	Верхний край flex-элемента помещается вплотную с flex-линией (или на расстоянии, с учетом заданных полей margin и рамок border элемента), проходящей через начало поперечной оси.
align-items: flex-end 	Нижний край flex-элемента помещается вплотную с flex-линией (или на расстоянии, с учетом заданных полей margin и рамок border элемента), проходящей через конец поперечной оси.
align-items: center 	Поля flex-элемента центрируется по поперечной оси в пределах flex-линии.
align-items: baseline 	Базовые линии всех flex-элементов, участвующих в выравнивании, совпадают.
align-items: stretch 	Если поперечный размер flex-элемента вычисляется как auto и ни одно из поперечных значений margin не равно auto, элемент растягивается. Значение по умолчанию.

Align-self:
Align-self: auto 	Значение по умолчанию. Flex-элемент использует выравнивание, указанное в свойстве align-items flex-контейнера.
Align-self: flex-start 	Верхний край flex-элемента помещается вплотную с flex-линией (или на расстоянии, с учетом заданных полей margin и рамок border элемента), проходящей через начало поперечной оси.
Align-self: flex-end 	Нижний край flex-элемента помещается вплотную с flex-линией (или на расстоянии, с учетом заданных полей margin и рамок border элемента), проходящей через конец поперечной оси.
Align-self: center 	Поля flex-элемента центрируется по поперечной оси в пределах flex-линии.
Align-self: baseline 	Flex-элемент выравнивается по базовой линии.
Align-self: stretch 	Если поперечный размер flex-элемента вычисляется как auto и ни одно из поперечных значений margin не равно auto, элемент растягивается. Значение по умолчанию.

align-content
align-content: flex-start 	Строки укладываются по направлению к началу flex-контейнера. Край первой строки помещается вплотную к краю flex-контейнера, каждая последующая — вплотную к предыдущей строке.
align-content: flex-end 	Строки укладываются по направлению к концу flex-контейнера. Край последней строки помещается вплотную к краю flex-контейнера, каждая предыдущая — вплотную к последующей строке.
align-content: center 	Строки укладываются по направлению к центру flex-контейнера. Строки расположены вплотную друг к другу и выровнены по центру flex-контейнера с равным расстоянием между начальным краем содержимого flex-контейнера и первой строкой и между конечным краем содержимого flex-контейнера и последней строкой.
align-content: space-between 	Строки равномерно распределены в flex-контейнере. Если оставшееся свободное пространство отрицательно или в flex-контейнере имеется только одна flex-линия, это значение идентично flex-start. В противном случае край первой строки помещается вплотную к начальному краю содержимого flex-контейнера, край последней строки — вплотную к конечному краю содержимого flex-контейнера. Остальные строки распределены так, чтобы расстояние между любыми двумя соседними строками было одинаковым.
align-content: space-around 	Строки равномерно распределены в flex-контейнере с половинным пробелом на обоих концах. Если оставшееся свободное пространство отрицательно, это значение идентично центcenter. В противном случае строки распределяются таким образом, чтобы расстояние между любыми двумя соседними строками было одинаковым, а расстояние между первой / последней строками и краями содержимого flex-контейнера составляло половину от расстояния между строками.
align-content: stretch 	Значение по умолчанию. Строки flex-элементов равномерно растягиваются, заполняя все доступное пространство. Если оставшееся свободное пространство отрицательно, это значение идентично flex-start. В противном случае свободное пространство будет разделено поровну между всеми строками, увеличивая их поперечный размер.

flex-wrap: nowrap 	Значение по умолчанию. Flex-элементы не переносятся, а располагаются в одну линию слева направо (в rtl справа налево).
flex-wrap: wrap 	Flex-элементы переносятся, располагаясь в несколько горизонтальных рядов (если не помещаются в один ряд) в направлении слева направо (в rtl справа налево).
flex-wrap: wrap-reverse 	Flex-элементы переносятся на новые линии, располагаясь в обратном порядке слева-направо, при этом перенос происходит снизу вверх.


background: #F37335;
background-color: #2F6B5F;
background-color: salmon;
background-color: #00ff00;
background-color: rgba(255, 128, 128, 0.5);
background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
background-color: currentColor;
background-color: transparent;
background-color: inherit; Устанавливает значение свойства в значение по умолчанию.
background-color: initial; Наследует значение свойства от родительского элемента.


background-image: url(../img/promo_right.png);
background-image: url(http://site.ru/rose.png);
background-image: url(tl.png), url(tr.png);
background-image: linear-gradient(white, gray);
background-image: repeating-radial-gradient(circle closest-side at 20px 30px, red, yellow, green 100%, yellow 150%, red 200%);
background-image: image("sprites.svg#xywh=40,0,20,20");
background-image: inherit;
  background-repeat: no-repeat;
background-repeat: space;
background-repeat: round;
background-repeat: repeat space;
background-repeat: repeat repeat;
background-repeat: round space;
background-repeat: no-repeat round;
background-repeat: inherit;
background-repeat: initial;
  background-size: cover;
  background-position: center;
background-image: none;
background-repeat: repeat-x;
background-repeat: repeat-y;
background-repeat: repeat;

background-attachment: scroll;
background-attachment: fixed; Предотвращает перемещение, фиксирует фоновое изображение на заднем плане.
background-attachment: local; Фоновое изображение прокручивается вместе с содержимым элемента.

background-position: top;
background-position: right;
background-position: center;
background-position: 25% 75%;
background-position: 0 0;
background-position: 1cm 2cm;
background-position: 10ch 8em;
background-position: 0 0, center;
background-position: bottom 10px right 20px;
background-position: right 3em bottom 10px;
background-position: bottom 10px right;
background-position: top right 10px;

background-clip: border-box;
background-clip: padding-box; Фон закрашивает область в пределах внутренних полей элемента.
background-clip: content-box; Фон закрашивает только область содержимого.
background-clip: text;

flex-wrap: nowrap | wrap | wrap-reverse
nowrap; /* Расположение в одну линию, может привести к переполнению контейнера. Свойство cross-start эквивалентно start или before в зависимости от значения flex-direction. */
wrap /*Расположение в несколько линий. Свойство cross-start эквивалентно start или before в зависимости от значения flex-direction и свойство cross-end противоположно cross-start. */
wrap-reverse /* Ведёт себя так же, как и wrap но cross-start и cross-end инвертированы. */

flex-direction: row | row-reverse | column | column-reverse
row; /* Главная ось направлена так же, как и ориентация текста, по умолчанию слева направо. Если значение dir задано как rtl, то направление оси идёт справа налево.*/
row-reverse;
Похоже на значение row, но меняются местами начальная и конечная точки и главная ось направлена справа налево. Если значение dir задано как rtl, то направление оси идёт слева направо.
column; /* Главная ось располагается вертикально и направлена сверху вниз.
column-reverse; /*Главная ось располагается вертикально, но меняется положение начальной и конечной точек и ось направлена снизу вверх.

псевдоклассов:
hover - Стиль элемента на который наведён курсор мыши
active - Стиль для ссылки которая становится активной, но переход по ней еще не совершен
visited - Стиль для недавно посещённой ссылки
link - Стиль для нечасто посещаемой ссылки
focus - Стиль элемента находящегося в фокусе
first-child - Стиль первого дочернего элемента
lang - Определяет язык, который используется в фрагменте документа
