 <script defer src="js/index.js"></script>
0/0 // NaN
"строка" * 4 // NaN
infinity / infinity
=======
равенство равно
2 === 2 // true
===
объект :
 const = obj { }
====
массив :
 const arr = [1, 2]


добавить в html тег:
 document.body.innerHTML = "<h1 class / / > Привет мир! </h1>"; // "экранирование"= "/ kkk /"
document.body.innerHTML = `<h1 class="js"> Привет "айтишники" + ${myName} </h1>`; 
 ==================
вычислить год рождения
 let birthYear = 1987
 let nowYear = new Date().getFullYear();


добавить в html тег:
 document.body.innerHTML = "<h1 class / / > Привет мир! </h1>"; // "экранирование"= "/ kkk /"
document.body.innerHTML = `<h1 class="js"> Привет "айтишники" + ${myName} </h1>`; 
 
console.log(typeof infinity)
const presentOrderBtn = document.querySelector(
'.present__order-btn');

presentOrderBtn.remove - удалить класс
--------------------------------------------
const pageOverlay = document.createElement('div'); // создать элемент, которого нет в html
pageOverlay.classList.add('page__overlay'); // добавить класс, которого нет
presentOrderBtn.textContent = 'кликни'
presentOrderBtn.innerHTML = '<h1>кликни</h1>'
------------
pageOverlayModal.classList.add('page__overlay_modal_open'); // добавить класс
pageOverlayModal.classList.remove('page__overlay_modal_open'); // удалить класс
------------------
const handlerModal = (openBtn, modal, openSelector, closeTrigger) => {

    openBtn.addEventListener('click', () => {
        modal.classList.remove(openSelector)
    })
 
 ----------------------------------
alert ('hello friends!')
  confirm ('hello friends!') - да или отмена
  prompt ('hello friends!') - сохранит в переменную

console.log()
console.dir(); // показать как "объект"
console.log (5+5);
console.log (5 < 5);
console.log (5 > 5);
console.log (5 <= 5);
console.log (5 <= 5);

console.log (5 == 5);
console.log (5 === 5); строгое равентво.
console.log (5 === +'5'); //true
console.log (5 === '5'); //false

console.log (5 != 5);
console.log (5 !== 5);
console.log (!true);
console.log (!(5 > 10)); // покажет наоборот true
console.log (+'10'+ +'15'); // унарный - приводит строку к числу
let count_1 = 'dog';
let count_2 = `dog`; // обратные кавычки

let count = 5;
const floatNumber = 10.5; // дробные
const animal = "cat";
const Boolean = true;
const bigInt = 123456n;
const sym = Symbol();
let typeUndefined;
const typeNull null;

const object = {};
const arr = [];
const func = function() {}

const date = new Date();
const err = new Error();
const regExp = new RegExp('\D'); // регулярные выражения
  const regExp2 = /\D/;
  let count = 5;
  console.log (count + 5); // 10

let animals = {
        cat: '',
        dog: '',
        mouse: '',
        'wild animals': false,
        names: [1, 2, 'neo', 'trinity'],
        say: function () {

        }
    };

let number = 5;

не может начинаться с числа
_number
$number
navigationListItemRed = ''; новое слово с большой буквы

const item = '<article class="item"> привет мир</article>'
const item = `
    <article class="item"> 
        привет мир
    </article>';
--------------------------------------------------- if else ----------------------------------------
если (условия) {
    выполнить действия
} иначе Если (условия) {
    выполнить другие действия
} иначе { 
    выполнить совсем другие действия
}

let eggs = 18;
if (eggs >=10) {
    console.log ('купить 10 яиц');
    console.log ('купить батон');
} else if (eggs) {
    console.log ('купить ${eggs} яиц');
    console.log ('купить батон');
    eggs -= eggs
} else {
    console.log('нет яиц, купить батон')
}
--------------------------------------------------- if else ----------------------------------------
----------------------------------------------------- тернарный оператор ------------------------------
тернарный оператор: 1 - true 2 - false
const result = eggs < 20 ? 'закупить яиц': 'яиц достаточно';
console.log ('result: ', result);

 -------------------------- циклы ----------------------

let eggs = 38;
const names = ['Антон', 'Артем', 'Андрей', 'Артур', 'Борис'];
for (let i = 0; i < names.length; i++) {
    console.log(`пришел ${names[i]}`);
    if (eggs >= 10) {
        eggs -= 10;
        console.log ('купить 10 яиц');
        console.log ('купить батон');
    } else if (eggs) {
        console.log (`купить ${eggs} яиц`);
        console.log ('купить батон');
        eggs -= eggs
    } else {
        console.log('нет яиц, купить батон')
    }
}
// пришел Антон
купить 10 яиц
купить батон
пришел Артем
купить 10 яиц
купить батон
пришел Андрей
купить 10 яиц
купить батон
пришел Артур
 купить 8 яиц
 купить батон
пришел Борис
 нет яиц, купить батон.

----------------------- while, do while-----------------------

let eggs = 0;

do {
    console.log(`пришел покупатель`);
    if (eggs >= 10) {
        eggs -= 10;
        console.log ('купить 10 яиц');
        console.log ('купить батон');
    } else if (eggs) {
        console.log (`купить ${eggs} яиц`);
        console.log ('купить батон');
        eggs -= eggs
    } else {
        console.log('нет яиц, купить батон')
    }
} while (aggs)
-------------------------------

const goSpar = x => x ** 2; // возведение в степень

const goDiksi = (a, b, c) => {
    const res = a + b + c;
    return res / 2
}; 
console.log('goDiksi(1, 5, 10): ', goDiksi(1, 5, 10));
