полезные ссылки:
метхе
https://github.com/Maksim-Methed/videotube
https://jsonplaceholder.typicode.com/
==
Популярные макеты и шаблоны, созданные с помощью CSS
https://csslayout.io/

вебпак сборка ноде node.js webpack.js
https://webpack.js.org/guides/asset-modules/

== 10 вещей, которые можно делать в верстке с помощью псевдоэлементов before и after
https://habr.com/ru/company/skillbox/blog/592643/
== https://webflow.com/design/create-basic-layouts-03bde6?t=1&b=0
webflow.com

== транзи транси 
Вариации transition
https://codepen.io/nazarelen/pen/gbLXYK
  Пример transition-delay https://codepen.io/html5book/pen/wzKeoj
   Пример transition-duration https://codepen.io/html5book/pen/LRpLbZ?editors=1100
  Пример transition-timing-function https://codepen.io/nazarelen/pen/JobJNy


== анимация anima
    Пример animation-timing-function https://codepen.io/html5book/pen/xErJeg
    Пример animation-direction https://codepen.io/html5book/pen/GjpExx?editors=1100
    Пример animation-delay https://codepen.io/zerospree/pen/XWaGER?editors=1100
== даня шаблон вс-код 
https://www.youtube.com/watch?v=TayoyJ3KQSY
https://www.youtube.com/watch?v=snVFd5MOkTM&feature=youtu.be

== сравнение текста сравнить 
http://text.num2word.ru/
== шаблон галп gulp даня
https://github.com/flizerzet/flizer-gulp

https://tilda.cc/ru/

https://developers.themoviedb.org/3/getting-started/introduction
https://developers.themoviedb.org/3/getting-started/introduction
https://developers.themoviedb.org/3
Адрес для теста
'https://jsonplaceholder.typicode.com/todos/1'
========
расшифровать короткую ссылку
https://longurl.info/

js
 
https://doka.guide/js/
популярные названия классов:
https://tpverstak.ru/common-css-class-names/
анна сайт
https://tpverstak.ru/
задачи и решение
http://code.mu/ru/javascript/book/prime/

игры:
лягушка https://flexboxfroggy.com/#ru
гриды https://cssgridgarden.com/#ru

Шпаргалка по Grid CSS грид grid
https://tpverstak.ru/grid/

Шпаргалка по Flexbox CSS флекс
https://tpverstak.ru/flex-cheatsheet/
https://codepen.io/simolex/pen/yLPObMP

https://den7466.github.io/MyPortfolio/

Видео про разницу Float, Flexbox и Grid
https://www.youtube.com/watch?v=azQRYYdKt8I&feature=youtu.be

Популярные устройства и media
https://ruslanyusupov.com/blog/media-queries-breakpoints-in-2021
===
обо всем - очень нужное
https://devdocs.io/node~12_lts/

https://github.com/Kadurmo/Module01-Burger
===
типо Фотошопа photoShop фото
https://www.photopea.com
==

Swiper свайпер слайдер
https://swiperjs.com/
Пример слайдера Swiper 
https://codesandbox.io/s/vrng4?file=/index.html
==
маска js input !!!
https://frontips.ru/kak-sdelat-masku-dlya-tekstovyh-polej-input/
==
ретина экраны
https://pixelplus.ru/studio/stat/optimizatsiya-saytov-retina/
==
проверка сайта http
https://bluetree.ai/screenfly/
==
калибровка экрана (если цвета отличаюстя)
https://zumer.com.ua/kalibrovka-monitora-noutbuka/
==
Плагин Autoprefixer
https://marketplace.visualstudio.com/items?itemName=mrmlnc.vscode-autoprefixer

Валидатор HTML
https://validator.w3.org/#validate_by_uri

Валидатор CSS 
https://jigsaw.w3.org/css-validator/#validate_by_input

Сжатие картинок
https://tinypng.com/

Can I Use
https://caniuse.com/

Генерация фавиконок
https://realfavicongenerator.net/

Разметка для README
https://docs.github.com/en/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax

Нашел ответ на вопрос, почему не работает плавное прокручивание в safari
https://developer.mozilla.org/ru/docs/Web/API/Element/scrollIntoView

предпроцессор css sass
https://sass-scss.ru/guide/
