Популярные устройства и media
https://ruslanyusupov.com/blog/media-queries-breakpoints-in-2021
===

https://github.com/Kadurmo/Module01-Burger



Плагин Autoprefixer
https://marketplace.visualstudio.com/items?itemName=mrmlnc.vscode-autoprefixer

Валидатор HTML
https://validator.w3.org/#validate_by_uri

Валидатор CSS 
https://jigsaw.w3.org/css-validator/#validate_by_input

Сжатие картинок
https://tinypng.com/

Can I Use
https://caniuse.com/

Генерация фавиконок
https://realfavicongenerator.net/

Разметка для README
https://docs.github.com/en/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax

Нашел ответ на вопрос, почему не работает плавное прокручивание в safari
https://developer.mozilla.org/ru/docs/Web/API/Element/scrollIntoView
