main.scss
$bg: #ff0;
body {
	background-color: $bg;
} 
=================
index.js
import './styles/main.scss'
===========================
package.json
{
  "name": "module02-shop",
  "scripts": {
    "build": "webpack"
  },
  "devDependencies": {
    "css-loader": "^6.5.1",
    "html-loader": "^3.1.0",
    "mini-css-extract-plugin": "^2.5.3",
    "sass": "^1.49.0",
    "sass-loader": "^12.4.0",
    "style-loader": "^3.3.1",
    "webpack": "^5.67.0",
    "webpack-cli": "^4.9.2"
  },
  "dependencies": {
    "html-webpack-plugin": "^5.5.0"
  }
}

====
webpack.config.js

const path = require('path');
const HtmlWebpackPlugin = require ('html-webpack-plugin');
const MiniCssExtractPlugin = require ('mini-css-extract-plugin');

module.exports = {
    entry: './src/index.js',
    output: {
        path: path.resolve(__dirname, 'dist'),
        filename: 'bundle.js',
        assetModuleFilename: 'images/[hash][ext][query]',
        clean: true,
    },
    plugins: [
        new HtmlWebpackPlugin({
            template: './src/index.html'
        }),
        new MiniCssExtractPlugin({
            filename: './styles/main.css'
        })
        ],
        module: {
            rules: [
                {
                    test: /\.(?:ico|png|jpg|jpeg|svg|)$/i,
                    type: 'asset/resource'
                },
                {
                    test: /\.html$/i,
                    loader: "html-loader"
                },
                {
                    test: /\.css$/i,
                    use: [
                        MiniCssExtractPlugin.loader, 'css-loader'
                    ]
                },
                {
                    test: /\.scss$/i,
                    use: [
                        MiniCssExtractPlugin.loader, 'css-loader', 'sass-loader'
                    ]
                }
            ]
        }
};
